* {
  margin: 0;
  padding: 0;
  transition: background-color var(--el-transition-duration),
    color var(--el-transition-duration), border var(--el-transition-duration);
}

body {
  background-color: var(--el-bg-color-page);
}

.card {
  background-color: var(--el-bg-color);
  border-radius: 25px;
  min-height: 300px;
}

// Bootstrap
.text-center {
  text-align: center !important;
}

.vertical-center {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.h-0 {
  height: 0 !important;
}
.h-30 {
  height: 40% !important;
}
.h-40 {
  height: 40% !important;
}
.h-50 {
  height: 50% !important;
}
.h-60 {
  height: 60% !important;
}
.h-70 {
  height: 60% !important;
}
.h-100 {
  height: 100% !important;
}

.w-auto {
  width: auto !important;
}
.w-50 {
  width: 50% !important;
}
.w-60 {
  width: 60% !important;
}
.w-70 {
  width: 70% !important;
}
.w-80 {
  width: 80% !important;
}
.w-98 {
  width: 98% !important;
}
.w-100 {
  width: 100% !important;
}

.p-0 {
  padding: 0 !important;
}
.p-1 {
  padding: 0.5rem !important;
}
.p-2 {
  padding: 1rem !important;
}
.p-3 {
  padding: 2rem !important;
}

.pt-0 {
  padding-top: 0 !important;
}
.pt-1 {
  padding-top: 0.5rem !important;
}
.pt-2 {
  padding-top: 1rem !important;
}
.pt-3 {
  padding-top: 2rem !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}
.pb-1 {
  padding-bottom: 0.5rem !important;
}
.pb-2 {
  padding-bottom: 1rem !important;
}
.pb-3 {
  padding-bottom: 2rem !important;
}

.py-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.py-1 {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}
.py-2 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}
.py-3 {
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;
}

.ps-0 {
  padding-left: 0 !important;
}
.ps-05 {
  padding-left: 0.25rem !important;
}
.ps-1 {
  padding-left: 0.5rem !important;
}
.ps-2 {
  padding-left: 1rem !important;
}
.ps-3 {
  padding-left: 2rem !important;
}

.pe-0 {
  padding-right: 0 !important;
}
.pe-05 {
  padding-right: 0.25rem !important;
}
.pe-1 {
  padding-right: 0.5rem !important;
}
.pe-2 {
  padding-right: 1rem !important;
}
.pe-3 {
  padding-right: 2rem !important;
}

.mt-0 {
  margin-top: 0 !important;
}
.mt-05 {
  margin-top: 0.25rem !important;
}
.mt-1 {
  margin-top: 0.5rem !important;
}
.mt-2 {
  margin-top: 1rem !important;
}
.mt-3 {
  margin-top: 2rem !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}
.mb-1 {
  margin-bottom: 0.5rem !important;
}
.mb-2 {
  margin-bottom: 1rem !important;
}
.mb-3 {
  margin-bottom: 2rem !important;
}

.ms-0 {
  margin-left: 0 !important;
}
.ms-1 {
  margin-left: 0.5rem !important;
}
.ms-2 {
  margin-left: 1rem !important;
}
.ms-3 {
  margin-left: 2rem !important;
}

.me-0 {
  margin-right: 0 !important;
}
.me-1 {
  margin-right: 0.5rem !important;
}
.me-2 {
  margin-right: 1rem !important;
}
.me-3 {
  margin-right: 2rem !important;
}

.m-auto {
  margin: auto !important;
}
.ms-auto {
  margin-left: auto !important;
}
.me-auto {
  margin-right: auto !important;
}
.mx-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}

.border-bottom {
  border-bottom: solid 1px var(--el-border-color) !important;
}

.color-primary {
  color: var(--el-color-primary) !important;
}
.color-primary-light3 {
  color: var(--el-color-primary-light-3) !important;
}

.bg-primary {
  background-color: var(--el-color-primary) !important;
}
.bg-page {
  background-color: var(--el-bg-color-page) !important;
}
.bg-normal {
  background-color: var(--el-bg-color) !important;
}

.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.flex-grow {
  flex-grow: 1 !important;

}

.full-page {
  width: 100% !important;
  height: 100vh !important;
}

.block {
  display: block !important;
}
.content {
  margin: 0 auto;

}

.circle-border {
  border: 3px solid #f5de0e; 
}
.button-mar-10 {//控制按钮
  margin-right: 10px;
}
.no-shadow {
  box-shadow: none !important; /* 移除阴影 */
}
.full-size-avatar {
  width: 100%;
  height: 100%;
  object-fit: cover; /* 这样图片能够覆盖整个div但保持图片比例 */
}
.no-underline {//取消链接下划线
  text-decoration: none; /* 取消下划线 */
  color: inherit; /* 保持原有颜色 */
}